[submodule "samples/projects/meshtastic-firmware"]
	path = samples/projects/meshtastic-firmware
	url = git@github.com:MeshEnvy/firmware.git
[submodule "samples/projects/meshcore-firmware"]
	path = samples/projects/meshcore-firmware
	url = git@github.com:MeshEnvy/MeshCore.git
[submodule "samples/projects/meshtastic-baymesh"]
	path = samples/projects/meshtastic-baymesh
	url = git@github.com:RCGV1/firmware-Fork.git
[submodule "samples/projects/TinyBBS"]
	path = samples/projects/TinyBBS
	url = git@github.com:MeshEnvy/TinyBBS.git
[submodule "samples/reference/meshtastic-python"]
	path = samples/reference/meshtastic-python
	url = git@github.com:MeshEnvy/meshtastic-python.git
[submodule "samples/reference/meshtastic-web"]
	path = samples/reference/meshtastic-web
	url = git@github.com:meshtastic/web.git
[submodule "samples/reference/microReticulum"]
	path = samples/reference/microReticulum
	url = git@github.com:Reticulum-Community/microReticulum.git
[submodule "samples/projects/microReticulum-Firmware"]
	path = samples/projects/microReticulum-Firmware
	url = git@github.com:Reticulum-Community/microReticulum_Firmware.git
[submodule "samples/projects/lotato"]
	path = samples/projects/lotato
	url = git@github.com:MeshEnvy/lotato.git
