[submodule "vendor/mpm"]
	path = vendor/mpm
	url = git@github.com:MeshEnvy/mpm.git
[submodule "vendor/lobbs"]
	path = vendor/lobbs
	url = git@github.com:MeshEnvy/lobbs.git
[submodule "vendor/lodb"]
	path = vendor/lodb
	url = git@github.com:MeshEnvy/lodb.git
[submodule "vendor/meshscript"]
	path = vendor/meshscript
	url = git@github.com:MeshEnvy/meshscript.git
[submodule "vendor/meshcore-flasher"]
	path = vendor/meshcore-flasher
	url = git@github.com:meshcore-dev/flasher.meshcore.dev.git
[submodule "vendor/lofs"]
	path = vendor/lofs
	url = git@github.com:MeshEnvy/lofs.git
[submodule "vendor/meshtastic-firmware"]
	path = vendor/meshtastic-firmware
	url = git@github.com:MeshEnvy/firmware.git
[submodule "vendor/meshcore-firmware"]
	path = vendor/meshcore-firmware
	url = git@github.com:MeshEnvy/MeshCore.git
[submodule "vendor/meshtastic-baymesh"]
	path = vendor/meshtastic-baymesh
	url = git@github.com:RCGV1/firmware-Fork.git
[submodule "vendor/meshcore-lotato"]
	path = vendor/meshcore-lotato
	url = git@github.com:MeshEnvy/MeshCore-lotato.git
[submodule "vendor/meshtastic-tinybbs"]
	path = vendor/meshtastic-tinybbs
	url = git@github.com:GoatsAndMonkeys/TinyBBS.git
