[submodule "vendor/meshcore-flasher"]
	path = vendor/meshcore-flasher
	url = git@github.com:meshcore-dev/flasher.meshcore.dev.git
[submodule "vendor/meshtastic-firmware"]
	path = vendor/meshtastic-firmware
	url = git@github.com:MeshEnvy/firmware.git
[submodule "vendor/meshcore-firmware"]
	path = vendor/meshcore-firmware
	url = git@github.com:MeshEnvy/MeshCore.git
[submodule "vendor/meshtastic-baymesh"]
	path = vendor/meshtastic-baymesh
	url = git@github.com:RCGV1/firmware-Fork.git
[submodule "vendor/TinyBBS"]
	path = vendor/TinyBBS
	url = git@github.com:MeshEnvy/TinyBBS.git
[submodule "vendor/meshtastic-python"]
	path = vendor/meshtastic-python
	url = git@github.com:MeshEnvy/meshtastic-python.git
[submodule "vendor/meshtastic-web"]
	path = vendor/meshtastic-web
	url = git@github.com:meshtastic/web.git
[submodule "vendor/microReticulum"]
	path = vendor/microReticulum
	url = git@github.com:Reticulum-Community/microReticulum.git
[submodule "vendor/microReticulum-Firmware"]
	path = vendor/microReticulum-Firmware
	url = git@github.com:Reticulum-Community/microReticulum_Firmware.git
[submodule "vendor/lotato"]
	path = vendor/lotato
	url = git@github.com:MeshEnvy/lotato.git
